#
# Render Blueprint
#
# 1. Find the Render PostgreSQL instance
# 2. Locate the <Internal Database URL>/<name_db>
# 3. Manually set (but replace the database name with a uniqe name for
#    the app to use):
#       DB_URL=...<Internal Database URL>/<name_db>
#

services:
  - type: web
    name: routine-saga
    plan: free
    branch: main
    runtime: python
    buildCommand: pip install -r requirements_prod.txt
    startCommand: python manage.py migrate && gunicorn core.wsgi:application --bind 0.0.0.0:$PORT
    healthCheckPath: /healthz/
    envVars:
      # keep the existing DB_URL intact: you need to
      #   manually update it for new PostgreSQL deployments
      - key: DB_URL
        sync: false
      - key: DJANGO_SECRET_KEY
        sync: false   # fix this (rest -> secrets): openssl rand -base64 50, (strip the trailing =)
      - key: DJANGO_ALLOWED_HOSTS
        value: "routine-saga.onrender.com"
      - key: DJANGO_CSRF_TRUSTED_ORIGINS
        value: "https://routine-saga.onrender.com"
