<!-- use a template tag: {'% %'} //-->

<!-- Create a link using the index alias in the urls.py file -->
<p>
  <a href="{% url 'notes:index' %}">Routine Notes</a>
   - <a href="{% url 'notes:topics' %}">Topics</a>
  {% if user.is_authenticated %}
  <p>Logged in as: {{user.username}}</p>
  {% else %}
   - <a href="{% url 'accounts:login' %}">Login</a>
   - <a href="{% url 'accounts:register' %}">Register</a>
  {% endif %}
</p>

<!-- The child template will define what is rendered here as needed -->
{% block content %} {% endblock content %}
  {% if user.is_authenticated %}
  <hr/>
  <form action="{% url 'accounts:logout' %}" method="post">
  {% csrf_token %}
  <!-- Log out post doesn't need (shouldn't have) a form -->
  <button name="submit">Log out</button>
  </form>
{% endif %}