<!-- 'extends' the parent template it inherits from //-->
{% extends "notes/base.html" %} {% block content %}
<!-- Link back to the topic -->
<p><a href="{% url 'notes:topic' topic.id %}">{{ topic }}</a></p>

<!-- Show entry content -->
<blockquote class="entry-box">{{ entry.text|linebreaks }}</blockquote>
<p>Are you sure you want to delete this entry?</p>

<!-- Confirm deletion -->
<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-outline-danger">Delete</button>
  <a href="{% url 'notes:topic' topic.id %}" class="btn btn-outline-secondary"
    >Cancel</a
  >
</form>
{% endblock content %}
