<!-- 'extends' the parent template it inherits from //-->
{% extends "notes/base.html" %} {% block content %}
<!-- Show the topic and link back to main page //-->
<p><a href="{% url 'notes:topic' topic.id %}">{{topic}}</a></p>
<p>Add a new entry:</p>
<!--
  Create the form:
  action: send the form data to the new_entry() view function and the
    associated topic id
  method: submit the data as a POST
//-->
<form action="{% url 'notes:new_entry' topic.id %}" method="post">
  <!-- csrf_token: prevent cross-site forgery attacks //-->
  {% csrf_token %}
  <!-- Django can automatically handle displaying the fields as div entries //-->
  {{form.as_div}}
  <!-- the form submit button //-->
  <button name="submit" class="btn btn-outline-primary">Add</button>
    <a href="{% url 'notes:topic' topic.id %}" class="btn btn-outline-secondary"
    >Cancel</a
  >
</form>
{% endblock content%}
