<!-- 'extends' the parent template it inherits from //-->
{% extends 'notes/base.html' %}

<!-- Specify the content block //-->
{% block page_header %}
<h1>Topics</h1>
{% endblock page_header %} {% block content %}

<!-- Use a for loop to populate an unordered list from the context dictionary
    which contains the topics queried from the database //-->
<ul class="list-group border-bottom pb-2 mb-4">
  {% for topic in topics %}
  <!-- Double brace for variable interplation //-->
  <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
    <!-- Topic name on the left -->
    <a href="{% url 'notes:topic' topic.id %}" class="text-decoration-none">{{ topic.text }}</a>

    <!-- Button group aligned right -->
    <div class="d-flex">
      <a href="{% url 'notes:edit_topic' topic.id %}" class="btn btn-sm btn-outline-primary me-3">Edit</a>
      <a href="{% url 'notes:delete_topic' topic.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
    </div>
  </li>
  <!-- Handle and empty query result //-->
  {% empty %}
  <li class="list-group-item border-0">No topics have been added yet.</li>
  {% endfor %}
</ul>
<a href="{% url 'notes:new_topic' %}">Add a new topic</a>
{% endblock content %}
