<!-- 'extends' the parent template it inherits from //-->
{% extends 'notes/base.html' %}

<!-- Specify the content block //-->
{% block page_header %}
<h1>Topics</h1>
{% endblock page_header %}

{% block content %}

<!-- Use a for loop to populate an unordered list from the context dictionary
    which contains the topics queried from the database //-->
<ul class="list-group border-bottom pb-2 mb-4"">
  {% for topic in topics %}
  <!-- Double brace for variable interplation //-->
  <li class="list-group-item border-0">
    <a href="{% url 'notes:topic' topic.id %}">{{topic.text}}</a></li>
  <!-- Handle and empty query result //-->
  {% empty %}
  <li class="list-group-item border-0">No topics have been added yet.</li>
  {% endfor %}
</ul>
<a href="{% url 'notes:new_topic' %}">Add a new topic</a>
{% endblock content %}
